@page
@model SstoreClient.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="login-wrap">
    <p style="color:Tomato;">@Model.message</p>
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Register</label>
                <div class="login-form">

                    <form asp-page-handler="Signin" method="post">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="user" class="label">Email</label>
                                <input id="user" type="text" class="input" name ="mail">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name = "password">
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="SignIn">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <a asp-page="/MailForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                    
                    <form asp-page-handler="Signup" method="post">
                        <div class="sign-up-htm">
                            <div class="group">
                                <label for="user" class="label">Full Name</label>
                                <input id="user" type="text" class="input" name ="fullname">
                            </div>
                            <div class="group">
                                <label for="user" class="label">Gender</label>
                                   <select name="Gender" class="label">
                                      <option id="user" value="0">Male</option>
                                      <option id="user" value="1">Female</option>
                                   </select>
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Email</label>
                                <input id="pass" type="email" class="input" name="rmail">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Phone</label>
                                <input id="pass" type="text" class="input" name="phone">
                            </div>
                            <div class="group">
                                <label for="user" class="label">Date Of Birth</label>
                                <input id="user" type="date" class="input" name ="dob">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Address</label>
                                <input id="pass" type="text" class="input" name="address">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name ="rpassword">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Repeat Password</label>
                                <input id="pass" type="password" class="input" data-type="password" name="repassword">
                            </div>
                            <div class="group">
                                    <input type="submit" class="button" value="SignUp" name="submit">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <label for="tab-1">Already Member?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>