@page
@model ManagerClient.Pages.ForgotPasswordModel
@{
}
<!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Fogot Password</h4>
                <form  method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
   
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>New Password<span>*</span></p>
                                        <input type="password" name="newpassword">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>Re-Password<span>*</span></p>
                                        <input type="password" name="repassword">
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>OTP(Check your email)<span>*</span></p>
                                        <input type="text" name="otp">
                                    </div>
                                </div>
                            </div>
                             <button type="submit" class="site-btn" name="submit">SEND</button>
                             <button class="site-btn"><a style="color:white;" asp-page="/GetOTP">GET OTP</a></button>             
                    </div>
                </form>
                 
            </div>
        </div>
    </section>